body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 10px;
}

#barcodeResult {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barcode {
    max-width: 100%;
    height: auto;
}